/* Pagebreak stuff */
div.alwaysbreak { page-break-before: always; }
div.nobreak:before { clear:both; }
div.nobreak { page-break-inside: avoid; }

/* Text styling */
.center     { text-align: center; }
.centered   { margin: 0 auto; }
.text-right { text-align: right; }
.uppercase  { text-transform: uppercase; }

.grey-text { color: rgb(105, 105, 105); }

/* Text hierarchy */
.category-name { font-size: 1.2em; margin-top: 1em; margin-bottom: 0.75em; font-weight: bold;}
.field-name    { font-size: 1.1em; }

/* Structure */
.skip-quarter-page { padding-top: 250px; }
.skip-third-page   { padding-top: 330px; }
.skip-half-page    { padding-top: 470px; }

/* Inputs */
.underlined { border-bottom: 1px solid black; min-width: 100px; min-height: 30px; }
.quarter-page-width    { width: 225px; }
.third-page-width      { width: 300px; }
.half-page-width       { width: 450px; }
.two-thirds-page-width { width: 600px; }

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('./MaterialIcons-Regular.eot');
  /* For IE6-8 */
  src: url('./MaterialIcons-Regular.woff2') format('woff2'), 
       url('./MaterialIcons-Regular.woff')  format('woff'), 
       url('./MaterialIcons-Regular.ttf')   format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}